/* frontend/src/App.css */

body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
}

main {
  padding-top: 80px; /* leave space for header */
}


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.header, .footer {
  background-color: #222;
  color: white;
  padding: 10px;
  text-align: center;
}

nav a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

.page {
  padding: 20px;
  text-align: center;
}

.alert-btn {
  background-color: red;
  color: white;
  font-size: 1.2rem;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}